.card-detail {
  border: blue;
  border-style: solid;
  padding: 1em;
  margin-bottom: 1em;
  font-size: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.6);
  transition: 0.3s;
  max-width: 900px;
  border-radius: 5px;
  background-color: lightblue;
}

.card-detail:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.6);
  cursor: pointer;
}

h3 {
  text-align: center;
}

.card-detail-price {
  display: flex;
  justify-content: space-around;
}

.img-container {
  text-align: center;
  margin-top: 40px;
}

.img-container img {
  max-width: 200px;
}
